services:
  - type: web
    name: chefs-shell
    runtime: docker
    dockerfilePath: ./Dockerfile
    region: oregon
    plan: free
    envVars:
      - key: PORT
        value: 3000
    healthCheckPath: /
